{#
/**
 * @file
 * Default theme implementation to display a paragraph Cards.
 */
#}

{% block paragraph %}
  {% if content.field_card_image %}
    {{ content.field_card_image }}
  {% endif %}
  {{ content|without('field_card_image') }}
{% endblock paragraph %}

