{#
/**
 * @file
 * Default theme implementation to display a paragraph Heading.
 */
#}

{% block paragraph %}
{% if paragraph.field_heading_type.value and paragraph.field_heading_text.value %}
  <{{ paragraph.field_heading_type.value }}>{{ paragraph.field_heading_text.value }}</{{ paragraph.field_heading_type.value }}>
{% endif %}
{% endblock paragraph %}
