{#
/**
 * @file
 * Default theme implementation to display a paragraph Container.
 */
#}

{% block paragraph %}
 <div class="left__content">{{ content.field_container_left_content }} </div>
 {% if content.field_container_middle_content %}
   <div class="middle__content">{{ content.field_container_middle_content }} </div>
 {% endif %}
 <div class="right__content">{{ content.field_container_right_content }} </div>
{% endblock paragraph %}
