{#
/**
 * @file
 * Default theme implementation to display a paragraph CTA.
 */
#}

{% block paragraph %}
    <a href="{{ paragraph.field_cta_url.value.0.uri }}" class="{{ paragraph.field_cta_type.value }}"> {{ content.field_cta_title }} </a>
{% endblock paragraph %}

